body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

.titles {
  background-color: black;
  color: white;
}

.event_slide {
  background-color: black;
  color: white;
}