body {
  max-width: 320px;
  margin: auto;
  background: white;
  padding: 10px;
}

html {
  background-color: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
font-family: "eco", sans-serif;
font-weight: 400;
font-style: normal;
}

nav {
  font-size: 11px;
  text-align: center;
}

h2 {
  font-family: peckham-press, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}

.event_slide {
  background-color: black;
  color: white;
  padding: 0.5px
}

.swissdesignfair {
  font-family: "eco", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.swissdesignfair_text {
  font-family: "eco", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.titles {
  background-color: black;
  color: white;
  padding: 0.5px;
}


a {
  text-decoration: none;
  font-family: "all-round-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  text-align: center;
  color: black;
}

a:hover {
  color: blue;
}

p {
  font-family: "all-round-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}